# Node modules
node_modules/

# Environment variables
.env
# .env.example
.env.example
# Logs
logs/
*.log
npm-debug.log*

# Firebase service account
firebase-adminsdk.json

# IDE configs
.vscode/
.idea/
#pack
package-lock.json
# OS
.DS_Store
Thumbs.db